.avatar {
    width: 38px;
    height: 38px;
}

.main {
    margin: 30px;
    background-color: white;
}

body {
    background-color: #efefef;
}

.btn_sub {
    float: right;
    margin-bottom: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color:#999;
}
.jumbotron{
    margin: 30px;
}
.tagdiv{

    margin-top: 50px;
}
.tagspan{
    margin:  2px 15px ;
    font-size: 15px;
    cursor: pointer;
}