<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jQuery.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{head::nav}"/>
        <div class="jumbotron">
            <h1>出错啦</h1>
            <p th:text="${message}">服务太热了，请稍等会再试</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">点击跳转回主页</a></p>
        </div>
</body>
</html>