<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="/js/jQuery.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{head::nav}"/>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="dto:${pageDto.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded avatar" th:src="${dto.user.avatarUrl}"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="'/question/'+${dto.id}"><h4 class="media-heading" th:text="${dto.title}"></h4></a>
                    <span th:text="${dto.description}"> </span><br>
                    <span class="text-desc">
                        <span th:text="${dto.user.name}"></span>发起了问题 •
                        <span th:text="${dto.likeCount }">0</span> 人关注 • <span th:text="${dto.commentCount }">0</span>
                        个回复 • <span th:text="${dto.viewCount }">0</span> 次浏览 •
                        <span th:text="${#dates.format(dto.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
                <hr>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pageDto.showPre}">
                        <a href="#" th:href="'/?page='+(${pageDto.currentPage}-1)"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${pageDto.pages}" th:class="${pageDto.currentPage==page}?'active':''">
                        <a th:href="'/?page='+${page}" th:text="${page}"></a></li>
                    <li th:if="${pageDto.showNext}">
                        <a th:href="'/?page='+(${pageDto.currentPage}+1)"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tagdiv" th:each="tagdto:${tagDtos}">
                <span style="display:block" th:text="${tagdto.categoryName}"></span>
                <span  class="label label-info tagspan" style="display:inline-block;"  th:each="tag:${tagdto.tags}" th:text="${tag}"></span>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    })
</script>

</body>
</html>